@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IS';
  src: url('./YekanBakhFaNum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  direction: rtl;
  
}
